
<div class="container">
    <h2 class="featurette-heading">Contactez <span class="text-muted"> nous</span></h2>
    <p class="lead">Formulaire de contact pour toute question, demande d’information ou demande de pré-inscription :<br><br></p>
    <marquee><p class="lead text-danger">La fonctionnalité contact via le formulaire n'est pas encore disponible !</p></marquee>
      <div class="row">
  
        <div class="col-lg-8 col-lg-offset-2">
  
          
          <form id="contact-form" method="post" action="" role="form">
  
          <div class="messages lead"></div>
  
          <div class="controls">
  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <br>
                  <label for="form_name">Nom *</label>
                  <input id="form_name" type="text" name="name" class="form-control" placeholder="Merci de saisir votre nom *" required="required" data-error="Nom est requis.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <br>
                  <label for="form_lastname">Prénom *</label>
                  <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Merci de saisir votre prénom *" required="required" data-error="prénom est requis.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <br>
                  <label for="form_email">Email *</label>
                  <input id="form_email" type="email" name="email" class="form-control" placeholder="Merci de saisir votre email *" required="required" data-error="Valid email est required.">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <br>
                  <label for="form_phone">Téléphone</label>
                  <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Merci de saisir votre phone">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <br>
                  <label for="form_message">Message *</label>
                  <textarea id="form_message" name="message" class="form-control" placeholder="Votre message ici*" rows="4" required data-error="Merci de nous laisser un message."></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <br>
                <input type="submit" class="btn btn-success btn-send disabled" value="Envoyer message">
              </div>
            </div>
           
          </div>
          </form>
  
        <!--Grid column-->
        </div>
          <!--Grid column-->
          <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>2 A impasse du Moulin des Landes 44840 Les Sorinières</p>
                </li>
  
                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 33 (0) 6 87 999 300</p>
                </li>
  
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p><a href="mailto:lespetitsglobetrotters@gmail.com" class="text-secondary">lespetitsglobetrotters@gmail.com</a></p>
                </li>
            </ul>
        </div>
      </div>
  
    </div>
  <!--Section: Contact v.2-->