      <section class="jumbotron text-center">
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <img src="../../assets/images/travaux.jpg" class="card-img-top"  width="100%" height="280px"  alt="suivez-nous">             
                  <div class="card-body">
                  <p class="card-text">Avancement des travaux de construction</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='album-component#travauxImages';">Consulter</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         
          </div>
        </div>
      </div>

      <section class="jumbotron text-center">
          <!-- START THE FEATURETTES -->
          <hr class="featurette-divider">
          <h1 id ="travauxImages" class="display-4 font-italic">Avancement travaux ...</h1>
          
          <!-- START CAROUSEL
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../../assets/images/travaux_01.jpg" alt="premier slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Construction en cours ...</h5>
                            <p>Partage des photos et les actualités d'avancememnt au fil de l'eau</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/images/travaux_02.jpg" alt="deuxième slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/images/travaux_03.jpg" alt="3eme slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/images/travaux_00.jpg" alt="4eme slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/images/travaux_04.jpeg" alt="5eme slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../assets/images/travaux_05.jpeg" alt="6eme slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="album-component#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="album-component#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
           END CAROUSEL-->
   <!--/.Carousel Wrapper-->  
   <app-carousel-navigation></app-carousel-navigation>     
      </section>
      
      
   <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>